<!doctype html>
<html lang="zh-CN">
  <head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap 的 CSS 文件 -->
    <link href="../OpenAI/node_modules/element-plus/dist/css/index.min.css" rel="stylesheet">

    <title>Hello, world!</title>
    <script src="../OpenAI//node_modules/vue/dist/vue.global.min.js"></script>
    <script src="../OpenAI/node_modules/element-plus/dist/js/index.full.min.js"></script>
    <script src="../OpenAI/node_modules/element-plus-icons-vue/dist/index.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div>
        <el-input v-model="message" clearable placeholder="Please input" />
        <el-button @click="dataIni">搜索SAP</el-button>
      </div>
      <div class="mt-4">
        <el-table :data="items" style="width:100%" max-height="400">   
              <el-table-column type="index" width="25" />
              <el-table-column v-bind="column" v-for="column in columns" :key="column.prop" />
        </el-table>
      </div>
    </div>

    <script>
    const App = {
        data() {
            return {
                message: '',
                items:[],
                columns: [
                  { prop: "物料", label: "物料", width: "100" },
                  { prop: "物料描述", label: "物料描述", width: "300" },
                  { prop: "价格", label: "价格", width: "100" }
                ]
            }
        },
        methods: {
          say(message) {
            alert(message)
          },
          dataIni(){
            (async ()=> {
              var ds = await getData(this.message);
              this.items = ds
              //alert(ds.物料描述);
					  })()
          }
        },
        mounted: function(){
          //vueAppMounted(this)
        }
    }
    const app = Vue.createApp(App);
    app.use(ElementPlus);
    app.mount('#app');
    </script>

  </body>
</html>